.header { background: #D5BAE4; text-align: center; }
.layout { position: relative;}
.layout DIV { position: absolute; }
.col1 { background: #C7E3E4; width: 33%;padding: 10px -10px 10px 10px;text-align:center; }
.col2 { background: #E0D2C7; left: 33%; width: 34%; }
.col3 { background: #ECD5DE; right: 0; width: 33%; }
.c5 {display:block; margin:0px auto;}